<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <label class="navbar-brand">UserManager</label>
    </div>
    <ul class="nav navbar-nav">
        <!--<li>-->
            <!--<a href="index/login">Login</a>-->
        <!--</li>-->
        <li>
            <a href="#/index">Index</a>
        </li>
        <li>
            <a href="#/useradd">Add User</a>
        </li>
        <li>
            <a href="#/userlist">User List</a>
        </li>
    </ul>
</nav>
